
  <div class="upx-method">
      <p-dropdown [(ngModel)]="delhiveryItem" [options]="delhiveryMethods" optionLabel="name" placeholder="Select Delivery Item"></p-dropdown>

      <div class="selected-item" *ngIf="delhiveryItem!== undefined">
           <p>{{delhiveryItem.name}}</p>
           <i class="pi pi-plus" style="color: slateblue"></i>
           <p style="display: inline; margin-left: 1rem; margin-right: 1rem;">0</p>
           <i class="pi pi-minus" style="color: slateblue"></i>
      </div>
  </div>
