
  <p-table
     [value]="filteredData"
     styleClass="p-datatable-gridlines"
     [tableStyle]="{ 'min-width': '50rem' }"
     >
      <ng-template pTemplate="header" >
          <tr>
              <th *ngFor="let column of cols">{{ column.header }}</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
            <td *ngFor="let column of cols">{{ row[column.feild] }}</td>
        </tr>
    </ng-template>
      <ng-template pTemplate="summary" >
        <p *ngIf="filteredData?.length == 0">  No Records Found</p> </ng-template>
  </p-table>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
