<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Batting type" [style]="{'margin-right': '1rem'}"></p-multiSelect>
<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Batting type" [style]="{'margin-right': '1rem'}"></p-multiSelect>
<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Batting type" [style]="{'margin-right': '1rem'}"></p-multiSelect>
<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Batting type" [style]="{'margin-right': '1rem'}"></p-multiSelect>

